* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #050505;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(10px);
    z-index: 10;
}



.logo {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
}



nav {
    display: flex;
    gap: 30px;
}



nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}



.menu {
    font-size: 28px;
    cursor: pointer;
}



.hero {

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 20px;

}



.hero-text h1 {

    font-size: 70px;
    letter-spacing: 8px;

}



.hero-text p {

    margin: 25px 0;

    color: #aaa;

    font-size: 18px;

}



.button {

    display: inline-block;

    background: white;

    color: black;

    padding: 15px 35px;

    border-radius: 30px;

    text-decoration: none;

    font-weight: bold;

}



.featured {

    padding: 80px 8%;

}



.featured h2 {

    font-size: 40px;

    margin-bottom: 40px;

}



.products {

    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 25px;

}



.card {

    background: #111;

    padding: 40px;

    border-radius: 20px;

    transition: .3s;

}



.card:hover {

    transform: translateY(-10px);

}



.card p {

    color: #aaa;

    margin-top: 10px;

}



footer {

    text-align:center;

    padding:40px;

    color:#777;

}



@media(max-width:800px){

nav{

display:none;

}


.products{

grid-template-columns:1fr;

}


.hero-text h1{

font-size:45px;

}

}
